@import '~bootstrap/scss/bootstrap';

@import 'animations';
@import 'login';

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, rgba(37, 104, 208, 0.8), rgba(11, 33, 102, 0.9)), url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  box-shadow: 0 0 10px;

  h1 {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    height: 150px;

    h1 {
      line-height: 140px;
    }
  }
}

#main {
  width: 356px;
  box-sizing: content-box;
}

#result {
  width: 324px;
  height: 436px;
  border: 2px dashed #0b2166;
}

.inner {
  width: 320px;
  height: 432px;
  overflow: hidden;
}

canvas {
  cursor: crosshair;
}

#output {
  min-height: 63px;
}